[submodule "src/workers/vendor/llama.cpp"]
	path = src/workers/vendor/llama.cpp
	url = https://github.com/ggerganov/llama.cpp
[submodule "src/workers/vendor/whisper.cpp"]
	path = src/workers/vendor/whisper.cpp
	url = https://github.com/ggerganov/whisper.cpp
