[package]
name = "inference-grpc"
version.workspace = true
edition.workspace = true

[[bin]]
name = "inference-grpc"
path = "src/main.rs"

[dependencies]
tonic.workspace = true
prost.workspace = true
tokio.workspace = true
tokio-stream.workspace = true

[build-dependencies]
tonic-build = "0.11"
